.darkmode-toggle-parent input {
    display: none;
}

.darkmode-toggle-parent label {
    position: absolute;
    top: 140px;
    left: 15px;
    cursor: pointer;
}

.darkmode-toggle-parent .sun {
    padding: 5px;
    border-radius: 20px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
}

.darkmode-toggle-parent .moon {
    padding: 5px;
    border-radius: 20px;
    background: linear-gradient(180deg, #fff, #3a3a3a);
}