.auto-dropdown4 {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 40px;
    background: orange;
    transition: 300ms;
}

.auto-dropdown4-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auto-dropdown4-title img {
    width: 30px;
}

.auto-dropdown4-items {
    padding: 20px 0 0;
}

.auto-dropdown4-items li {
    list-style: none;
    color: transparent;
    user-select: none;
    transition: 300ms;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 10px;
}

.auto-dropdown4-items li:hover {
    background-color: white;
}

.auto-dropdown4:hover {
    height: 170px;
    border-radius: 10px;

    .auto-dropdown4-items li {
        color: black;
        transition: 1s;
    }

    .auto-dropdown4-title img {
        transform: rotate(360Deg);
        transition: 500ms;
    }
}