.auto-dropdown1 {
    display: block;
}

.auto-dropdown1-title {
    width: 150px;
    height: 50px;
    background-color: rgb(210, 210, 210);
    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.auto-dropdown1-items {
    position: absolute;
    width: 170px;
    height: fit-content;
    background-color: rgb(210, 210, 210);
    padding: 10px;
    border-radius: 5px;
    display: none;
    transition: 200ms;
    z-index: 99;
}

.auto-dropdown1-items li {
    padding: 10px;
    border-radius: 10px;
    transition: 200ms;
}

.auto-dropdown1-items li:hover {
    background-color: white;
    transition: 200ms;

}

.auto-dropdown1:hover {
    .auto-dropdown1-items {
        display: block !important;
        transition: 200ms;
    }
    .auto-dropdown1-title img {
        transform: rotate(180Deg);
        transition: transform 200ms linear;
    }
}