.hamburger1-menu-button {
    display: none;
}

.hamburger1-menu-icon {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 30px;
}

.hamburger1-menu-icon .navicon {
    background: black;
    display: block;
    height: 6px;
    top: 12px;
    position: relative;
    transition: background .2s ease-out;
}

.hamburger1-menu-icon .navicon:before,
.hamburger1-menu-icon .navicon:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamburger1-menu-icon .navicon:before {
    top: 12px;
}

.hamburger1-menu-icon .navicon:after {
    top: -12px;
}

.hamburger1-menu-button:checked~.menu {
    max-height: 240px;
}

.hamburger1-menu-button:checked~.hamburger1-menu-icon .navicon {
    background: transparent;
}

.hamburger1-menu-button:checked~.hamburger1-menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.hamburger1-menu-button:checked~.hamburger1-menu-icon .navicon:after {
    transform: rotate(45deg);
}

.hamburger1-menu-button:checked~.hamburger1-menu-icon:not(.steps) .navicon:before,
.hamburger1-menu-button:checked~.hamburger1-menu-icon:not(.steps) .navicon:after {
    top: 0;
}