.darkmode-toggle-parent label {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    display: inline-block;
    background-color: #ebebeb;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 4), 
                inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.darkmode-toggle-parent input {
    display: none;
}

.darkmode-toggle-parent label::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.darkmode-toggle-parent input:checked+label::after {
    left: 55px;
    background: linear-gradient(180deg, #fff, #3a3a3a);
    fill: white !important;
}

.darkmode-toggle-parent label,
.darkmode-toggle-parent label::after {
    transition: 0.3s;
}

.darkmode-toggle-parent input:checked+label {
    background: #242424;
    box-shadow: inset 0px 5px 15px rgba(255, 255, 255, 1), 
                inset 0px -5px 15px rgba(0, 0, 0, 0.4);
}

.darkmode-toggle-parent svg {
    position: absolute;
    width: 35px;
    top: 7.5px;
    z-index: 1;
    transition: 0.3s;
}

.darkmode-toggle-parent .sun {
    left: 7.5px;
}

.darkmode-toggle-parent .moon {
    left: 57.5px;
}