.toggle3 {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background-image: url("/static/images/sun.svg");
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.toggle3 input {
    display: none;
}

.toggle3 input:checked+label {
    .sun {
        display: none;
    }
    .moon {
        display: block;
    }
}